@charset "UTF-8";
*{margin:0;	padding:0;}
li{list-style:none;}
a{text-decoration:none;}
#contents{margin:0 353px;}
#uglyMainBanner{
    padding-top:26px;
    padding-bottom: 70px;
}   
#uglyMainBanner>img{
    width:1200px;
    margin-left:380px;
}
#uglyIcon>img{
    display: block;
    margin:0 auto;
    width:892px;
    height:200px;
    padding-bottom: 50px;
}
#uglyPro>img{
    display: block;
    width:1034px;
    height:479px;
    margin:0 auto;
    border-bottom:2px solid #cccccc;
}
#uglySingle{
    width:1005px;
    margin:auto;
}
#uglyTit>h3{
    text-align: center;
    font-size: 32px;
    padding:50px 0 10px 0;
}
#uglyTit>p{
    text-align:center;
    font-size: 18px;
    padding-bottom: 30px;
}
#uglyTop{
    display:block;
    margin:0 auto;
}
#uglyBot{
    clear:both; 
    display: block;
}
.moreView{
    clear: both;
    text-align: right;
    margin-bottom: 130px;
}
.moreView>p>a:hover{color:#ff7900;}
#uglyTop ul li, #uglyBot ul li{float:left;}
.wrapBox{
    margin-right: 25px;
    margin-left:12px;
}
.wrapImg{border-radius:10px;}
.wrapImg>a>img{
    padding-bottom: 15px;
    width:310px;
    height:330px;
}
.wrapTit>.itemTit{
    padding-bottom:10px;
    font-size:20px;
    font-weight:bold;
}
.wrapTit>.uglyPri{
    padding-bottom:30px;
    font-size:18px;
}

